@font-face {
    font-family: "LibreFranklin-Regular";
    src: url("../fonts/LibreFranklin-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "LibreFranklin-Black";
    src: url("../fonts/LibreFranklin-Black.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "LibreFranklin-ExtraBold";
    src: url("../fonts/LibreFranklin-ExtraBold.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

p{
  font-family: "LibreFranklin-Regular";
  font-size: 18px;
}

h1{
  font-family: "LibreFranklin-Regular";
  font-size: 28px;
  color: #7461a3;
  margin: 10px auto auto auto;
  opacity: 0;
  animation: AnimateH1 0.5s forwards;
}

@keyframes AnimateH1{
    from{
        margin-top: 40px;
        opacity: 0
    }
    to{
        margin-top: 10px;
        opacity: 1
    }
}

h2{
  font-family: "LibreFranklin-Black";
  font-size: 53px;
  color: #009ea3;
  margin: auto;
  opacity: 0;
  animation: AnimateH1 0.5s 0.5s forwards;
}

@keyframes AnimateH2{
    from{
        margin-top: 30px;
        opacity: 0
    }
    to{
        margin-top: 0px;
        opacity: 1
    }
}

.hr2{
  width: 1px;
  height: 6px;
  background-color: #add072;
}

.content_right{
  position: absolute;
  right: 45px;
  top: 60px;
  width: 49%;
  height: auto;
}

.content_right .hr2{
  position: absolute;
  top: 0px;
  right: 0px;
  animation: hr2Right 1s forwards;
}

@keyframes hr2Right {
  0%   {width: : 1px;}
  50%  {width: 45px;}
  75%  {opacity: 1;}
  76%  {opacity: 0;}
  84%  {opacity: 1;}
  92%  {opacity: 0;}
  100% {opacity: 1; width: 45px;}
}

.content_right h1{
  text-align: right;
}

.content_right h2{
  text-align: right;
}

.content_right p{
  text-align: left;
}

/*Content left*/
.content_left{
  position: absolute;
  left: 45px;
  top: 60px;
  width: 49%;
  height: auto;
}

.content_left .hr2{
  position: absolute;
  top: 0px;
  left: 0px;
  animation: hr2Right 1.5s forwards;
}

.content_left h1{
  text-align: left;
}

.content_left h2{
  text-align: left;
}

.content_left p{
  text-align: left;
}

ul {
  list-style: square inside url(../images/bullet.png);
}

li{
  font-family: "LibreFranklin-Regular";
  font-size: 18px;
}

td{
  font-family: "LibreFranklin-Regular";
  font-size: 18px;
}

td img{
  margin: 0 20px 0 20px;
}

.avance{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.fadein_05{
  animation: fadein 0.5s forwards;
  -webkit-animation: fadein 0.5s forwards;
  -moz-animation: fadein 0.5s forwards;
  -o-animation: fadein 0.5s forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.Course_Content_info{
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 60px 20px 20px 20px;
}

.background_full{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
}

.TitleStartPos{
    position: relative;
    opacity: 0;
}

.color-white {
    color:white;
}

.color-greenish {
    color: #6ae814;
}

.color-blueish {
    color: #00b4dc;
}

.MoveTitle{
    animation: AnimateTitle 0.25s forwards;
    -webkit-animation: AnimateTitle 0.25s forwards;
    -moz-animation: AnimateTitle 0.25s forwards;
    -o-animation: AnimateTitle 0.25s forwards;
}

@keyframes AnimateTitle{
    from{
        left: 75px; opacity: 0
    }
    to{
        left: 0px; opacity: 1
    }
}
@-webkit-keyframes AnimateTitle{
    from{
        left: 75px; opacity: 0
    }
    to{
        left: 0px; opacity: 1
    }
}
@-moz-keyframes AnimateTitle{
    from{
        left: 75px; opacity: 0
    }
    to{
        left: 0px; opacity: 1
    }
}
@-o-keyframes AnimateTitle{
    from{
        left: 75px; opacity: 0
    }
    to{
        left: 0px; opacity: 1
    }
}

.DelayAnimation_1{
    animation-delay: 0.25s;
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    -o-animation-delay: 0.25s;
}
.DelayAnimation_2{
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
}
.DelayAnimation_3{
    animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
}
.DelayAnimation_4{
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

#AnimatedTitle{
    font-family: 'Montserrat', Arial, sans-serif !important;
    font-weight: 500;
    font-size: 40px;
    line-height: 38px;
    font-style: normal;
    text-transform: uppercase;
}

.MoveHR{
    animation: AnimateHR 1s ease-out forwards;
    -webkit-animation: AnimateHR 1s ease-out forwards;
    -moz-animation: AnimateHR 1s ease-out forwards;
    -o-animation: AnimateHR 1s ease-out forwards;
}

.HR {
    background-color: #2dc89d;
    height: 1px;
    width: 1px;
}

@keyframes AnimateHR{
    from{
        width: 1%
    }
    to{
        width: 100%
    }
}
@-webkit-keyframes AnimateHR{
    from{
        width: 1%
    }
    to{
        width: 100%
    }
}
@-moz-keyframes AnimateHR{
    from{
        width: 1%
    }
    to{
        width: 100%
    }
}
@-o-keyframes AnimateHR{
    from{
        width: 1%
    }
    to{
        width: 100%
    }
}

.form-font-14 {
    -webkit-text-size-adjust: 100%;
    font-family:  Arial, sans-serif;
    font-size:14px;
    line-height:160%;
}

.OpacityZero {
    opacity: 0;
    filter: alpha(opacity=0);
}

.MoveParagraph{
    animation: AnimateParagraph 0.5s forwards;
    -webkit-animation: AnimateParagraph 0.5s forwards;
    -moz-animation: AnimateParagraph 0.5s forwards;
    -o-animation: AnimateParagraph 0.5s forwards;
}

@keyframes AnimateParagraph{
    from{
        margin-top: 45px; opacity: 0
    }
    to{
        margin-top: 15px; opacity: 1
    }
}
@-webkit-keyframes AnimateParagraph{
    from{
        margin-top: 45px; opacity: 0
    }
    to{
        margin-top: 15px; opacity: 1
    }
}
@-moz-keyframes AnimateParagraph{
    from{
        margin-top: 45px; opacity: 0
    }
    to{
        margin-top: 15px; opacity: 1
    }
}
@-o-keyframes AnimateParagraph{
    from{
        margin-top: 45px; opacity: 0
    }
    to{
        margin-top: 15px; opacity: 1
    }
}

.text_bold-formatDark {
    color:#a0c1ec;
    font-weight: bold;
}

.subtitle{
  position: absolute;
    left: 0px;
    width: 100%;
    margin: 0;
    height: auto;
    bottom: 30px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.6); */
    z-index: 100;
    text-shadow: 2px 2px #000000;
}

.interactivityTable{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 60px;
  }



.interactivityTable tbody tr td{
  width: 50px;
  padding: 5px;
}

  .interactivityTable tbody tr td div{
    background-color: rgba(68,57,123,0.7);
    width: 100%;
    height: 80px;
    border-radius: 10px;
  }

  .interactivityTable tbody tr td div:hover{
    background-color: rgba(255,255,255,0.7);
  }

  .interactivityTable tbody tr td div:hover p{
    color:black;
  }


  .interactivityTable tbody tr td div p{
    color:white;
    transform: translate(-0%, -50%);
    position: relative;
    top: 50%;
    margin: 0 10px 0 60px;
    font-size: 16px;
  }

  .interactivityTable tbody tr td div span{
    color:#7461a3;
    font-size: 45px;
    font-weight: bold;
    font-family: "LibreFranklin-Black";
    position: absolute;
    margin: 10px 0 0 10px;
  }

  .interactiveFeedbackContainer{
    width:100%;
    height:100%;
    position:absolute;
    display:none;
    top: 0px;
    left: 0px;
}

.interactiveFeedback{
  position: absolute;
  width: 80%;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
}

.interactiveFeedback h1{
  font-family: "LibreFranklin-Regular";
  font-size: 24px;
  color: white;
  text-align: center;
  position: relative;
  animation: none;
  opacity: 1;
}

.interactiveFeedback h2{
  font-family: "LibreFranklin-ExtraBold";
  font-size: 46px;
  text-align: center;
  position: relative;
  animation: none;
  opacity: 1;
}

.interactiveFeedback p{
  font-family: "LibreFranklin-Regular";
  font-size: 18px;
  color: white;
  text-align: center;
  position: relative;
}

.interactiveFeedback #hr{
  width: 36px;
  height: 6px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /*animation: hr2Right 1.5s forwards;*/
}

.interactiveFeedbackButton{
  height: 70px;
  width: 270px;
  background-color: #148198;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 0;
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
  color: white;
  font-family: "Roboto";
  font-size: 18px;
  text-align: center;
  letter-spacing: 4px;
  margin-top:20px;
}

.interactiveFeedbackButton:hover{
    background-color: #e7af3d;
}

.color-green{
  color: #a1c26f;
}

.background-green{
  background-color: #a1c26f;
}

.color-red{
  color: #cb5f4b;
}

.background-red{
  background-color: #cb5f4b;
}

.color-pink{
  color: #a45e81;
}

.background-pink{
  background-color: #a45e81;
}

.interactiveIntroContainer{
  width:100%;
  height:100%;
  position:absolute;
  top: 0px;
  left: 0px;
}

.interactiveIntro{
position: absolute;
width: 80%;
top: 50%;
transform: translateY(-50%);
left: 10%;
}

.interactiveIntro h1{
font-family: "LibreFranklin-Regular";
font-size: 24px;
color: white;
text-align: center;
position: relative;
animation: none;
opacity: 1;
}

.interactiveIntro h2{
font-family: "LibreFranklin-ExtraBold";
font-size: 46px;
text-align: center;
position: relative;
animation: none;
opacity: 1;
}

.interactiveIntro p{
font-family: "LibreFranklin-Regular";
font-size: 18px;
color: white;
text-align: center;
position: relative;
}

.interactiveIntro #hr{
width: 36px;
height: 6px;
position: relative;
left: 50%;
transform: translateX(-50%);
/*animation: hr2Right 1.5s forwards;*/
}

.popupBackground{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0px;
  left:0px;
}

.BackgroundPurple{
  background-color: #2c2e48;
}

.BackgroundDarkBlue{
  background-color: #2a3c4a;
}

/* Pop ups*/

.popupTable{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 60px;
  }

/*

.popupTable tbody tr td{
  width: 50px;
  padding: 5px;
}

  .popupTable tbody tr td div{
    background-color: rgba(68,57,123,0.7);
    width: 100%;
    height: 80px;
    border-radius: 10px;
  }

  .popupTable tbody tr td div:hover{
    background-color: rgba(255,255,255,0.7);
  }

  .popupTable tbody tr td div:hover p{
    color:black;
  }


  .popupTable tbody tr td div p{
    color:white;
    transform: translate(-0%, -50%);
    position: relative;
    top: 50%;
    margin: 0 10px 0 60px;
    font-size: 16px;
  }

  .popupTable tbody tr td div span{
    color:#7461a3;
    font-size: 45px;
    font-weight: bold;
    font-family: "LibreFranklin-Black";
    position: absolute;
    margin: 10px 0 0 10px;
  }
*/

.popup{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0px;
  left:0px;
  display: none;
}

.popupButtonClose {
    height: 70px;
    width: 270px;
    background-color: #0d8188;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 0;
    position: absolute;
    right: 60px;
    color: white;
    font-family: "Roboto";
    font-size: 18px;
    text-align: center;
    letter-spacing: 4px;
    top: 60px;
}

.popupButtonOpen{
  cursor: pointer;
}

.popupButtonOpen:hover img{
  filter:brightness(133%);
}

.popupButtonOpen p{
  color: white;
  text-align: center;
}
/* TODO erase*/
.droptarget {
  float: left;
  width: 100px;
  height: 35px;
  margin: 15px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

.DDcircle{
  width: 80px;
  height: 80px;
  border-radius: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.DDcircle p{
  color: white;
  font-family: "LibreFranklin-ExtraBold";
  font-size: 32px;
  width: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  margin: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  opacity: 0.6;
}

.DDtarget{
  z-index: 2;
  background-color: #434763;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0px 3px 6px #000000;
}

.DDtarget_hover{
  filter:brightness(133%);
}

.DDTable{
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    padding: 60px;
    transform: translateY(-50%);
    border-spacing: 0px;
  }

  .DDTable th, td {
  padding: 0px;
}

.DDcontainer{
  width: 100px;
  height: 100px;
  position: relative;
  top: 0px;
  left: 0px;
  /*background-color: red;*/
}

.DDtext{
  background-color: #22243b;
  margin: 0;
  height: 100px;
}

.DDtext p{
  margin: 0px;
  color: white;
  padding: 0 20px 0 20px;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.DDtableLeftSide{
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0px;
  top: 0px;
  background-color: #22243b;
}

.DDtableLeftSideTop{
  position: relative;
  width: 50%;
  height: 20px;
  right: -50px;
  top: 0px;
  background-color: #22243b;
  border-radius: 10px 0px 0px 0px;
}

.DDtextTop{
  background-color: #22243b;
  margin: 0;
  height: 20px;
  border-radius: 0px 10px 0px 0px;
}

.DDtableLeftSideBottom{
  position: relative;
    width: 50%;
    height: 20px;
    right: -50px;
    top: 0px;
    background-color: #22243b;
    border-radius: 0px 0px 0px 10px;
}

.DDtextBottom{
  background-color: #22243b;
  margin: 0;
  height: 20px;
  border-radius: 0px 0px 10px 0px;
}

.custom_bullet{
  width: 40px;
  height: 40px;
  border-radius: 50% 50% 0% 50%;
  background-color: #7461a3;
  margin:5px;
}

.custom_bullet p{
  font-family: "LibreFranklin-Black";
    color: white;
    font-size: 24px;
    width: 100%;
    text-align: center;
    position: relative;
    top: 50%;
    height: auto;
    transform: translateY(-50%);
    margin: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}
