@import url('https://fonts.googleapis.com/css2?family=Libre+FranklinLibre+Franklin:ital,wght@0,100;0,300;0,400;0,800;1,400;1,700&family=Spectral:wght@400;800&display=swap');

$C2colortitle: #50baf5;
$C2accentcolor: #dbb160;
$C2primary: #293147;
$C2white: #fbffff;
$C2bluelight: #2f89c9;
$C2bluedark: #164790;
$C2blueDeepdark: #062c46;
$C2green: #3fad90;
$C2greenLight: #6ee2be;
$C2blueNaval: #1d4f9a;
$C2salmon: #f97168;
$C2salmonDark: #de504f;
$C2blueNavalLight: #50baf5;
$C2grayLight: #eeeeee;

$C2title: 'Spectral', serif;
/* $C2titleBold: 'LibreBaskervilleBold', 'Libre Baskerville', Georgia, serif;
$C2titleItalic: 'LibreBaskervilleItalic', 'Libre Baskerville', Georgia, serif */
$C2text: 'Libre Franklin', sans-serif;

.bg-greenlight {
  background-color: $C2greenLight;
}
.bg-blueNaval {
  background-color: $C2blueNaval;
}
.bg-salmon {
  background-color: $C2salmon;
}
.bg-blueNavalLight {
  background-color: $C2blueNavalLight;
}
/* .Activity2Row p{
    font-family: $C2text;
    font-weight: 400;
    font-size: 16px;
} */

@font-face {
  font-family: 'LibreBaskervilleLocal';
  src: url('../fonts/LibreBaskerville-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBaskervilleItalic';
  src: url('../fonts/LibreBaskerville-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'LibreBaskervilleBold';
  src: url('../fonts/LibreBaskerville-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.coverLogos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 270px;
}
.logo-medix {
  width: 100px;
}
.logo-medix-etica {
  width: 150px;
}

.TOC-C2 {
  max-height: 580px;
  bottom: 70px !important;
  top: unset !important;
}
.TOC-C2-wrapper {
  flex-flow: column;
  justify-content: flex-end;
}
.TOC-C2-list {
  max-height: 540px;
  height: unset !important;
}

.TOCListElement p {
  overflow-wrap: break-word;
  word-break: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#TOC_List {
  overflow-x: hidden;
}

.hr-line {
  width: 36px;
  height: 6px;
}
.w-460 {
  max-width: 460px;
}
.txt-center {
  text-align: center;
}
.circulos {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 85%;
}
.ciculosCtr-wrapper {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: space-around;
}
.circuloActivo {
  width: 20px;
  height: 20px;
  &-dotFill {
    fill: #fca391;
  }
  &-dotOutline {
    fill: #f97571;
  }
}
.circuloDesactivado {
  @extend .circuloActivo;
  &-dotFill {
    fill: rgba(255, 255, 255, 0);
  }
  &-dotOutline {
    fill: #ffffff;
  }
}

.C2-title {
  font-family: $C2title;
  color: $C2colortitle;
  font-size: 43px;
  font-weight: 800;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin: 0 !important;
  /* margin-top: 5px !important; */
}

.C2-subtitle {
  font-family: $C2title;
  color: $C2primary;
  font-size: 25px;
  font-weight: normal;
}

.C2-text {
  font-family: $C2text;
  color: $C2primary;
  font-size: 16px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 400;
  & strong {
    font-weight: 600;
  }
  & b {
    font-weight: 600;
  }
  &-i {
    font-style: italic;
    font-weight: 400;
    & strong {
      font-weight: 700;
    }
    & b {
      font-weight: 700;
    }
  }
}
.noanim {
  animation: none !important;
  opacity: 1;
}

.C2-list {
  color: $C2primary;
  list-style-image: url('../images/etica/bullets.png'); /* Remove default bullets */
  margin-top: 15px;
  line-height: 1.35 !important;

  & li {
    padding-bottom: 10px;
    font-family: $C2text;
    opacity: 0;
    list-style-position: outside;
    font-size: 16px !important;
    font-weight: 400;
  }
  & li b {
    color: $C2bluelight;
  }
}
.mt-0 {
  margin-top: 0;
}
.m-0 {
  margin: 3px !important;
}
.mb-1 {
  margin-bottom: 0.215rem;
}
.pt-6 {
  padding-top: 3rem;
}
.m0 {
  margin: 0 !important;
}
.my-1 {
  margin-bottom: 18px;
  margin-top: 18px;
}
.h-auto {
  height: auto !important;
}
.txtbanner {
  align-self: center;
  margin: 5px !important;
  padding-left: 0 !important;
}

.banner-noti-wrapper {
  padding-left: 40px;
  & p {
    padding-left: 30px;
  }
}
.banner-noti-wrapper-left {
  @extend .banner-noti-wrapper;
  padding-left: 0 !important;
}

.flex-wraper {
  display: flex;
  height: 100%;
  width: 100%;
}

.flex-end {
  justify-content: flex-end;
}

.content-right {
  max-width: 450px;
  padding-right: 75px;
  padding-top: 90px;
  line-height: 1.7 !important;
}

.content-left {
  max-width: 450px;
  padding-left: 50px;
  padding-top: 90px;
  line-height: 1.7 !important;
}

.banner-noti-C2 {
  max-width: 950px !important;
  padding-bottom: 2rem;
}
.bg-white {
  background-color: $C2white;
}
.bg-lightBlue {
  background-color: $C2colortitle;
}
.bg-deepBlue {
  background-color: $C2blueDeepdark;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/* Camarista SVG */

.camarista {
  height: 630px;
  position: absolute;
  top: 25px;
  left: 355px;

  & svg {
    height: 100%;
    position: relative;
  }
}

.camaristo {
  height: 640px;
  position: absolute;
  top: 9px;
  left: 345px;

  & svg {
    height: 100%;
    position: relative;
  }
}

.rebeca {
  position: absolute;
  width: 275px;
  top: 75px;
  left: 65px;

  & img {
    width: 100%;
    position: relative;
  }
}

/* Normas Uniformidad */

.zapato-wrapper {
  position: absolute;
  right: 0px;
  top: 40px;
}

/* Animation */

.FadeInUp {
  animation: fadeInUp 1000ms 300ms forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadein_1s {
  animation: fadein 1s ease-in-out forwards;
  -webkit-animation: fadein 1s ease-in-out forwards;
  -moz-animation: fadein 1s ease-in-out forwards;
  -o-animation: fadein 1s ease-in-out forwards;
}

.FadeINLeft {
  animation: fadeInLeft 1000ms 300ms both;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.FadeBigInLeft {
  animation: fadeBigInLeft 1000ms 100ms both;
}

@keyframes fadeBigInLeft {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.FadeBigInRight {
  animation: fadeBigInRight 1000ms 100ms both;
}

@keyframes fadeBigInRight {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Normas Presentacion Personal */

.banner-skew-wrapper {
  display: inline-flex;
  position: relative;
  top: -21px;
  left: 19px;
  clip-path: polygon(5% 0%, 100% 0, 95% 100%, 0 100%);
}

/* .banner-skew-start {
    background-color: $C2white;
    width: 70px;
    -webkit-transform:  skewX(165deg);
    transform:  skewX(165deg);
    position: relative;
    left: 34px;
    
}
.banner-skew-end {
    @extend .banner-skew-start;
    left: -34px;
} */

.banner-skew-content {
  background-color: rgba(255, 255, 255, 0.8);
  width: 1200px;
  z-index: 1;
  height: 225px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header-skew-wrapper {
  display: inline-flex;
  position: relative;
  left: 700px;
  top: 12px;
  clip-path: polygon(5% 0%, 100% 0, 95% 100%, 0 100%);
  z-index: 1;
}
.header-skew-start {
  background-color: $C2green;
  width: 20px;
  -webkit-transform: skewX(165deg);
  transform: skewX(165deg);
  position: relative;
  left: 8px;
  z-index: 3;
}
.header-skew-end {
  @extend .header-skew-start;
  width: 40px;

  left: -8px;
}
.header-skew-text {
  font-size: 16px;
  font-family: $C2text;
  color: $C2primary;
  padding-bottom: 16px;
  padding-top: 16px;
  background-color: $C2green;
  margin: 0;
  padding-left: 25px;
  padding-right: 50px;
  margin-top: 0 !important;
  color: $C2white;

  z-index: 4;
}
.btn-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: none;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  cursor: pointer;
}

.botones-wrapper {
  display: flex;
  justify-content: space-around;
}
.btn-interact {
  display: flex;
  flex-flow: column;
  position: relative;
  & img {
    width: 100%;
  }
  & p {
    font-family: $C2text;
    color: $C2primary;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 16px;
    text-align: left;
    margin-top: 8px;
  }
}

.btn-skew-wrapper {
  display: flex;
  flex-flow: column;
  max-width: 260px;
  cursor: pointer;
  & p {
    font-family: $C2text;
    color: $C2primary;
    margin-right: 28px;
    text-transform: uppercase;
    font-size: 13px;
    text-align: right;
    margin-top: 8px;
  }
}

.img_bg {
  position: absolute;
  top: 0;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  clip-path: polygon(12% 0%, 100% 0, 89% 100%, 0 100%);
  transition: background-color 0.5s ease;

  &:hover {
    background-color: rgba(103, 186, 175, 0.6);
  }
}

.overlay--Done {
  background-color: rgba(255, 255, 255, 0.4);
  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.popup-C2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 5;
}

.popup-C2-content {
  position: absolute;
  top: 0;
  left: 0;
}

.popup-C2-pt {
  position: relative;
}

#Unas,
#CortaUnas,
#Mobile {
  position: absolute;
  top: 475px;
  left: 92px;
}
#Maquillaje,
#Sonrisa,
#Tatuajes {
  position: absolute;
  top: 150px;
  right: 0;
}
#Peinado,
#Cabello,
#Accesorios {
  position: absolute;
  right: 0;
  top: 370px;
}
#Aretes,
#Cinturon,
#Chicle {
  position: absolute;
  top: 275px;
  left: 58px;
}

.btn-cerrar {
  background-color: $C2salmon;
  clip-path: polygon(12% 0%, 100% 0, 100% 100%, 0 100%);
  text-transform: uppercase;
  letter-spacing: 15px;
  font-family: $C2text;
  color: $C2white;
  font-size: 18px;
  position: absolute;
  right: 0;
  width: 282px;
  height: 55px;
  top: 60px;
  text-align: left;
  transition: background-color 0.5s ease;

  & span.icon-close {
    background: url(../images/etica/close_popup.svg) no-repeat center;
    float: left;
    width: 22px;
    height: 22px;
    margin-left: 48px;
    margin-right: 22px;
  }
  &:hover {
    background-color: #bb4343;
  }
}

/* Interactividad errores */

.content-left-interactividad {
  margin-top: 50px;
  margin-left: 37px;
  width: 560px;
}

.estrellas-C2 {
  width: 100%;
  height: 60px;
  margin-top: 50px;
  & :first-child {
    margin-left: 38px;
  }
  & svg {
    width: 60px;
    margin-left: 18px;
  }
  & .star-C2-outline path {
    transition: fill 0.3s ease-out;
  }
  & .star-C2-outline path {
    fill: rgba(219, 177, 96, 0.1);
    stroke: $C2accentcolor;
    stroke-width: 2px;
  }

  & .star-C2-fill path {
    fill: $C2accentcolor;
    stroke: unset;
    stroke-width: unset;
  }
}

.notificacion-item {
  width: 100%;
  height: 150px;
  /* background-color: #f5c26138; */
  margin-top: 65px;
}
.items-found {
  color: $C2white;
  font-size: 16px;
  margin-left: 56px;
  font-family: $C2text;
}
.items-wrapper {
  background-color: $C2colortitle;
  height: 120px;
  font-family: $C2text;
  width: 543px;
  clip-path: polygon(6% 0%, 100% 0, 94% 100%, 0 100%);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  & strong {
    font-size: 18px;
    width: 80%;
    margin-left: 50px;
    text-transform: uppercase;
  }
  &-text {
    color: $C2primary;
    font-size: 16px;
    width: 80%;
    margin: 0;
    margin-left: 50px;
  }
}

.items-wrapper-Damas {
  @extend .items-wrapper;
  width: 534px;
}

.personaje-interactividad {
  position: relative;
  top: 11px;
  left: 52px;
  width: 304px;
}

.personaje-interactividad-Ana {
  position: relative;
  width: 190px;
  left: 150px;
  top: 15px;
}
.content-right-interactividad {
  display: flex;
  align-items: flex-start;
}

.speech-bubble {
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  width: 300px;
  padding: 23px 0px;
  left: 22px;
  top: 55px;
  & p {
    width: 80%;
    margin: 0 auto;
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: rgba(255, 255, 255, 0.9);
    border-left: 0;
    margin-top: -20px;
    margin-left: -20px;
  }
}

.speech-bubble-ANA {
  @extend .speech-bubble;
  left: 160px;
  top: 45px;
}

.speech-bubble

/* #Barba, #Tattoo, #Cinturon, #Gafette, #Manchas {
    opacity: 1;   
} */
/* selector por attributo id que empiece con hotspot */
[id^="hotspot"] {
  opacity: 0;
  /* cursor: pointer; */
}
[id^='hotspot_'] {
  opacity: 0;
  /* cursor: pointer; */
}
.cursorPointer {
  cursor: pointer;
}

/* Conclusion */

.flex-centerContent {
  justify-content: center;
  align-items: center;
}

.C2-text-center {
  width: 600px;
  text-align: center;
}
.column-center {
  box-sizing: border-box;
  flex-flow: column;
  align-items: center;
}

/* Extra Colors */

.color-white {
  color: $C2white !important;
}
.color-lightblue {
  color: $C2colortitle;
}

.DisplayOff {
  display: none;
}
body {
  background-color: #0f1f31 !important;
}

/* Examen FInal */

.introQuiz--C2 {
  background-color: #d9d9d9;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introQuizTextbox--C2 {
  width: 50%;
  height: 50%;
  border-radius: 20px;
  background-color: $C2primary;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  & p {
    font-family: $C2text;
    color: $C2white;
    text-align: center;
    font-size: 20px;
    width: 70%;
    margin: 0;
    margin-bottom: 15px;
  }
}
.introQuiz-content-C2 {
  display: flex;
  flex-flow: column;
  @extend .flex-centerContent;
}

.introQuiz--C2-title {
  @extend .C2-title;
  animation: none;
  opacity: 1;
  margin: 0;
  padding: 0;
  font-size: 48px;
  margin-top: 4px;
}

.introQuiz--C2-subtitle {
  @extend .C2-subtitle;
  color: $C2white;
  font-size: 30px;
  animation: none;
  opacity: 1;
}

.C2-text-quiz {
  @extend .C2-text;
  color: $C2white;
  font-size: 18px;
  margin-bottom: 2em;
  line-height: 1.45;
}

.exam-fail-C2 {
  background-color: $C2primary;
}

.quizButton--C2 {
  height: 65px;
  width: 290px;
  background-color: $C2colortitle;
  bottom: 0px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 0;
  color: $C2white;
  font-family: $C2text;
  font-size: 18px;
  text-align: center;
  transition: background-color 0.3s ease;
  letter-spacing: 10px;
  margin-bottom: 2rem;

  &:hover {
    background-color: $C2bluedark;
  }
}
.quizButton--C2-inverted {
  @extend .quizButton--C2;
  background-color: $C2bluedark;
  &:hover {
    background-color: $C2colortitle;
  }
}

.questionAnswer--C2 {
  background-color: $C2primary !important;

  &:hover {
    background-color: $C2colortitle !important;
  }
  &:hover div {
    color: $C2white !important;
  }
}

.questionSvg {
  width: 170px;
  margin-top: 50px;
  min-height: 175px;
}

.questionAnswer--C2 div {
  color: $C2accentcolor !important;
}

.questionHeader-C2 {
  text-align: center;
  width: 100%;
  font-size: 24px;
  color: $C2primary;
  margin-bottom: 10px;

  & span {
    color: $C2colortitle;
    font-family: 'LibreFranklin-ExtraBold';
  }
}

.questionText-C2 {
  text-align: center;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 0;
  margin-bottom: 10px;
  max-width: 60ch;
}

.questionFeedback-C2 {
  background-color: #d9d9d9;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 101;
  background: no-repeat url(../images/etica/bgQuestions.jpg) center;
  background-size: cover;
}

.Feedback-Svg {
  width: 160px;
  margin-top: 50px;
  min-height: 165px;
}

.Feedback-title {
  font-family: 'LibreFranklin-Light';
  font-size: 30px;
  color: $C2primary;
  font-weight: 300;
}
.Feedback-text {
  text-align: center;
  font-size: 18px;
  & span {
    color: $C2primary;
    font-size: 38px;
  }
  & b {
    color: $C2colortitle;
    font-family: 'LibreFranklin-ExtraBold';
  }
}

.questionFeedbackFrame--C2 {
  /* background-color: $C2primary !important; */
  border-radius: 10px;
  width: 90%;
  height: 50%;
  bottom: 5%;
  left: 5%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  & p {
    font-size: 18px;
    text-align: center;
    color: white;
    margin: 40px;
    top: 0px;
    max-width: 550px;
  }
}

.questionFeedbackFrame--C2-nofeedback {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  & p {
    font-size: 18px;
    text-align: center;
    color: white;
    margin: 40px;
    top: 0px;
    max-width: 550px;
  }
}

.iconwin--C2 {
  width: 207px;
}

.iconlost--C2 {
  width: 400px;
  position: relative;
  right: 80px;
}
.row-score-wrapper--C2 {
  align-items: flex-start;
  margin-top: 3rem;
}
.score-wrapper--C2 {
  align-items: center;
}
.scoretxt--C2 {
  font-size: 20px;
  color: $C2white;
  font-family: $C2text;
  & h1 {
    opacity: 1;
    animation: none;
    margin: 0;
  }
  &-med {
    @extend .scoretxt--C2;
    font-weight: 400;
    font-size: 27px;
    opacity: 1;
    animation: none;
    margin: 0;
    margin-top: 20px;
  }
  &-light {
    @extend .scoretxt--C2;
    font-weight: 100;
    font-size: 18px;
    text-align: center;
    line-height: 1.35;
    margin-top: 10px;
  }
  &-bold {
    @extend .scoretxt--C2;
    font-weight: 800;
    font-size: 32px;
    margin: 0;
    margin-top: 5px;
  }

  &-extra {
    @extend .scoretxt--C2;
    font-weight: 800;
    font-size: 53px;
    animation: none;
    opacity: 1;
  }
}

.infoCurso {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  top: -130px;
  & img {
    margin-bottom: 15px;
  }
}
.infoCurso-Welcome {
  font-family: 'LibreFranklin-Light';
  color: $C2white;
  /* background-color: $amarillo;
    clip-path: polygon(4% 0%, 100% 0, 96% 100%, 0 100%); */
  text-transform: uppercase;
  letter-spacing: 10px;
  /* padding: 15px 25px; */
  font-size: 12px;
  text-align: center;
  animation: none !important;
  opacity: 1;
}

.buttonWelcome--C2--skew {
  clip-path: polygon(4% 0%, 100% 0, 96% 100%, 0 100%);
  border-radius: 0;
}

.infoCurso-subtitle {
  font-family: $C2title;
  font-size: 16px;
  color: $C2white;
  animation: none !important;
  opacity: 1;
}

.infoCurso-title {
  font-family: $C2title;
  font-size: 30px;
  color: $C2colortitle;
  animation: none !important;
  opacity: 1;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.buttonWelcome--C2 {
  background-color: $C2colortitle !important;

  &:hover {
    background-color: $C2bluedark !important;
  }
}

.wrapper-interactividad {
  @extend .popup-C2-content;
  width: 100%;
  height: 100%;
}

.wrapper-organigrama {
  display: flex;
  justify-content: space-around;
  height: 280px;
  width: 995px;
}

.item-org {
  width: 190px;
  font-family: $C2text;
  font-size: 14px;

  & img {
    margin: 0, auto;
    max-width: 95%;
  }
  & p {
    color: $C2white;
    font-weight: 300;
    margin-bottom: 2px;
    margin-top: 5px;
    text-align: center;
  }
  & b {
    display: block;
    font-weight: 300;
    color: $C2bluelight;
    text-align: center;
  }
}

.item1 {
  position: relative;
  top: 100px;
}
.item2 {
  position: relative;
  top: 50px;
}
.item3 {
  position: relative;
  top: 0px;
}
.item4 {
  position: relative;
  top: 50px;
}
.item5 {
  position: relative;
  top: 100px;
}

.nota-skew {
  @extend .C2-text;
  padding: 1.3rem 2rem;
  clip-path: polygon(0% 0%, 100% 0, 95% 100%, 0 100%);
  background-color: rgba(6, 44, 70, 0.9);
  color: $C2white;
  position: relative;
  top: -158px;
  max-width: 920px;

  & b {
    font-weight: 600;
    color: $C2colortitle;
  }
}
.nota-skew-invert {
  padding: 1.5rem 9rem 2rem 4rem;
  background-color: rgba(4, 36, 58, 0.9);
  color: #fbffff;
  max-width: 920px;
  clip-path: polygon(5% 0%, 100% 0, 100% 100%, 0 100%);
  & b {
    font-weight: 600;
    color: $C2colortitle;
  }
}

.banner-notification {
  display: inline-flex;
}

.mail-C2 {
  position: absolute;
  width: 560px;
  height: 620px;
  right: 40px;
  top: 30px;
  background-color: rgba(255, 255, 255, 0.9);

  &-header {
    background-color: $C2bluedark;
    width: 100%;
    height: 140px;

    & p {
      @extend .C2-text;
      color: $C2white;
      text-align: center;
      margin: auto !important;
      padding-top: 30px;
      max-width: 90%;
    }
  }

  & .body {
    position: relative;
    top: 80px;
    text-align: center;
    line-height: 1.15;

    & p {
      color: rgba($color: #aba7a7, $alpha: 0.2);
    }
  }
}

.mail #header {
  background-color: $C2bluedark !important;
}
.mailFocus-C2 {
  color: $C2primary !important;
  font-weight: 600;
}

.buttonMail-C2 {
  @extend .buttonWelcome--C2--skew;
  height: 60px;
  width: 100%;
  position: relative;
  bottom: 0px;
  left: 0px;
  background-color: $C2blueNavalLight;

  &:hover {
    background-color: $C2bluedark;
  }

  & p {
    color: white;
    text-align: center !important;
    font-family: $C2text;
    font-weight: 800;
    font-size: 48px !important;
    position: absolute !important;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 100%;
    margin: 0 !important;
  }
}
.mail-feedback-C2 {
  height: 480px;
  background-color: $C2blueDeepdark;
}
.C2-mail-svg {
  width: 120px;
  position: absolute;
  top: 125px;
  right: 250px;
}

.interactiveFeedbackButton-C2 {
  @extend .quizButton--C2;
  @extend .buttonWelcome--C2--skew;
  margin: 0 !important;
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
}

.grid-respuestas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
  gap: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 60px;
  box-sizing: border-box;

  button {
    background-color: rgba(6, 44, 70, 0.8);
    width: 100%;
    height: 65px;
    clip-path: polygon(5% 0%, 100% 0, 95% 100%, 0 100%);
    border: none;
    color: white;
    font-family: $C2text;
    font-size: 18px;
    font-weight: 300;
    transition: background-color 0.3s ease-in-out;
    text-align: left;
    cursor: pointer;

    &:hover {
      background-color: rgba(47, 137, 201, 0.9);
      color: $C2blueDeepdark;
      span .etiqueta {
        color: $C2blueDeepdark;
      }
    }
    &:disabled,
    &[disabled] {
      background-color: rgba(255, 255, 255, 1);
      color: black;
      cursor: initial;
    }
    &:focus {
      background-color: rgba(47, 137, 201, 0.9);
      color: $C2blueDeepdark;
      span .etiqueta {
        color: $C2blueDeepdark;
      }
    }
  }

  span {
    display: inline-flex;
    align-items: center;

    & img {
      margin: 0 2rem;
    }
    .etiqueta {
      font-size: 45px;
      font-weight: bold;
      font-family: $C2title;
      margin-left: 40px;
      margin-right: 15px;
      color: $C2bluelight;
    }
  }
}

.flex-wraper-banner {
  @extend .flex-wraper;
  justify-content: flex-end;
  align-items: center;

  .bannerModulo {
    width: 608px;
    background-color: $C2bluelight;
    height: 176px;
    position: relative;
    top: -50px;
    clip-path: polygon(8% 0%, 100% 0, 100% 100%, 0 100%);

    .bannerContent {
      margin-left: 80px;
      margin-top: 43px;

      .moduloTitle {
        font-size: 16px;
        font-family: 'LibreFranklin-Regular';
        color: black;
        text-transform: uppercase;
      }
    }
  }
}

.bannerContacto {
  background-color: $C2blueDeepdark;
  clip-path: polygon(0% 0%, 100% 0, 94% 100%, 0 100%);
  width: 657px;
  height: 130px;
  position: relative;
  top: 4px;
  left: -50px;
  padding-right: 60px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
